<h1>edit</h1>

<%= form_for(@stylist) do |f| %>

              <% if @stylist.errors.any? %>
              <div id="error_explanation">
              <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

              <ul>
              <% @stylist.errors.full_messages.each do |message| %>
                <li><%= message %></li>
               <% end %>
              </ul>
              </div>
             <% end %>
            <div>
              <%= f.label :stylist_name %>
              <%= f.text_field :stylist_name %>
            </div>

            <div>
              <%= f.label :salon_name %>
              <%= f.text_field :salon_name %>
            </div>

            <div>
              <%= f.label :stylist_sex %>
              <%= f.label :man %>
              <%= f.radio_button :stylist_sex, :man, class:"sex" %>
              <%= f.label :woman %>
              <%= f.radio_button :stylist_sex, :woman, class:"sex" %>
            </div>

            <div>
              <%= f.label :stylist_age %>
              <%= f.text_field :stylist_age %>
            </div>

            <div>
              <%= f.label :stylist_region %>
              <%= f.text_field :stylist_region%>
            </div>

            <div >
              <%= f.label :stylist_hobby%>
              <%= f.text_field :stylist_hobby %>
            </div>

            <div>
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"email" %>
            </div>

            <div>
              <%= f.label :history %>
              <%= f.text_field :history %>
            </div>

             <div>
              <%= f.label :stylist_introduction%>
              <%= f.text_area :stylist_introduction %>
            </div>
            <div>
              <%= f.label :post_code %>
              <%= f.text_field :post_code %>
            </div>

            
            <div>
              <%= f.label :address %>
              
              <%= f.text_field :address %>
            </div>

            <div>
              <%= f.label :phone_number %>
              <%= f.text_field :phone_number%>
            </div>

            <div>
              <%= f.label :holiday %>
              <%= f.text_field :holiday%>
            </div>

            <div >
              <%= f.label :business_houre%>
              <%= f.text_field :business_houre %>
            </div>

            <div>
              <%= f.label :menu%>
              <%= f.email_field :menu %>
            </div>

            <div>
            <%= attachment_image_tag @stylist, :stylist_image, :fill, 200, 200,fallback: "/assets/ooo.jpeg"%>
            </div>
            <label>SalonImage</label>
            <%= f.attachment_field :salon_image, placeholder: "salon画像" %>
            </div>


            <div>
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class:"password" %>
            </div>

            <div>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"password_confirm" %>
            </div>
            <div>
            <div>
            <%= attachment_image_tag @stylist, :stylist_image, :fill, 200, 200,fallback: "/assets/ooo.jpeg"%>
            </div>
            <label>ProfileImage</label>
            <%= f.attachment_field :stylist_image, placeholder: "プロフィール画像" %>
            </div>

            <div>
              <%= f.submit "Update Account", class: "btn-default" %>
            </div>
<% end %>