<div class="container">
  




      <h1 class="heads">EDIT</h1>

      <div class="row">
        


            <%= form_for(@stylist) do |f| %>

            <div class="col-xs-6 editer">
                       <h2>STYLIST</h2>

                          
                        <div>
                          <%= f.label :stylist_name %><br>
                          <%= f.text_field :stylist_name %>
                        </div>

                        

                        <div>
                          <%= f.label :stylist_sex %><br>
                          <%= f.label :man %>
                          <%= f.radio_button :stylist_sex, :man, class:"sex" %>
                          <%= f.label :woman %>
                          <%= f.radio_button :stylist_sex, :woman, class:"sex" %>
                        </div>

                        <div>
                          <%= f.label :stylist_age %><br>
                          <%= f.number_field :stylist_age %> 
                        </div>

                        <div>
                          <%= f.label :stylist_region %><br>
                          <%= f.text_field :stylist_region%>
                        </div>

                        <div >
                          <%= f.label :stylist_hobby%><br>
                          <%= f.text_field :stylist_hobby %>
                        </div>

                        <div>
                          <%= f.label :email %><br>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"email" %>
                        </div>

                        <div>
                          <%= f.label :history %><br>
                          <%= f.text_field :history %>年
                        </div>

                         <div>
                          <%= f.label :stylist_introduction%><br>
                          <%= f.text_area :stylist_introduction %>
                        </div>

                        <div>
                          <%= f.label :password %><br>
                          <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                          <% end %>
                          <%= f.password_field :password, autocomplete: "new-password", class:"password" %>
                        </div>

                        <div>
                          <%= f.label :password_confirmation %><br>
                          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"password_confirm" %>
                        </div>
                        <div>
                        <div>
                        <%= attachment_image_tag @stylist, :stylist_image, :fill, 200, 200,fallback: "/assets/ooo.jpeg"%>
                        </div>
                        <label>ProfileImage</label>
                        <%= f.attachment_field :stylist_image, placeholder: "プロフィール画像" ,class: "edit-img" %>
                        </div>
            </div>

            <div class="col-xs-6 editer">
                        <h2>SALON</h2>

                        
                        <div>
                          <%= f.label :salon_name %><br>
                          <%= f.text_field :salon_name %>
                        </div>
                        <div>
                          <%= f.label :address %><br>
                          
                          <%= f.text_field :address %>
                        </div>

                        <div>
                          <%= f.label :phone_number %><br>
                          <%= f.text_field :phone_number%>
                        </div>

                        <div>
                          <%= f.label :holiday %><br>
                          <%= f.text_field :holiday%>
                        </div>

                        <div >
                          <%= f.label :business_houre%><br>
                          <%= f.text_field :business_houre %>
                        </div>

                        <div>
                          <%= f.label :menu%><br>
                          <%= f.email_field :menu %>
                        </div>

                        <div>
                          <%= f.label :salon_introduction%><br>
                          <%= f.text_area :salon_introduction %>
                        </div>

                        <div>
                        <%= attachment_image_tag @stylist, :salon_image, :fill, 200, 200,fallback: "/assets/ooo.jpeg"%>
                        </div>
                        <label>SalonImage</label>
                        <%= f.attachment_field :salon_image, placeholder: "salon画像", class: "edit-img" %>
            </div>
      </div>


      <div class="row editer ">

                        <div>
                          <%= f.submit "UPDATE", class: "btn btn-primary btn-lg" %>
                        </div>
      </div>
            <% end %>
      

</div>

