<div class="container">

	<div class="row">



          
                <h1 class="heads">TALK</h1>

    </div>




    <div class="row">
    	


			<% @message.each do |m| %>
					

						 <% if m.stylist %>
						    <div class="row">
								 <div class="title2">
								 	<table>
								 		<tr class="layout">
										 	<th class="col-xs-3 col-sm-3 col-md-3 thead-content"><%= attachment_image_tag @stylist, :stylist_image, :fill, 100, 100, format: 'jpeg', fallback: "/images/stylist-fallback.jpeg", class: "thead-img" %>

											 <p><%= @stylist.stylist_name %></p>
											 <p><%= m.created_at.strftime('%Y/%m/%d') %></p>

											</th>
											 <td class="col-xs-9 col-sm-9 col-md-9"><%= m.content %></td>

										 </tr>
									</table>
								 </div>
                            </div>
						<% else %>
						    <div class="row">
						         <div class="title3">
						         	<table>
						         		<tr>
						         			<th class="col-xs-3 col-sm-3 col-md-3 thead-content"><%= attachment_image_tag @user, :user_image, :fill, 100, 100, format: 'jpeg', fallback: "/images/stylist-fallback.jpeg", class: "thead-img" %>

											 <p><%= @user.user_name %></p>
											 <p><%= m.created_at.strftime('%Y/%m/%d') %></p>
											</th>
						         		
						         			<td class="col-xs-9 col-sm-9 col-md-9"><%= m.content %></td>

									        
											 
										</tr>
									</table>
								 </div>
								    
							</div>
						 <% end %>

						 

			<% end %>
			        </div>

    </div>



    <div class="row">
    	

			<%= form_for @message_new do |f| %>
            <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70,class: "form-control" %>
            <%= f.hidden_field :user_chat_id, value: @user_chat.id %>
           <br>
           <%= f.submit "投稿する",class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
           <% end %>


    	
    </div>
	




           








</div>


		