<div class="container">
  <h1 class="heads">EDIT</h1>

  <div class="edits">
    

        
        <%= form_for(@post) do |f| %>
         
          <h4 class="texter">タイトル</h4>
          <%= f.text_field :post_name, class: "form-control" %>
         
          <h4 class="texter">コメント</h4>
          <%= f.text_area :post_opinion, class: "form-control" %>

          <h4 class="texter">カテゴリー</h4>
          <%= f.select :category, Post.categories.keys.to_a, {}, class: "form-control" %>
         

         
         
          <h4 class="texter">イメージ</h4>
          <%= f.attachment_field :post_image , class: "img-post form-control" %>

          <div class="row sender">
         
          <%= f.submit '投稿', class: "btn btn-primary btn-lg top-bt top-new" %>

         </div>
         
        <% end %>
  

    
  </div>
  

</div>