<div class="ind">

    
  <h1 class="top-head">SNAPS</h1>
  <%= form_tag(posts_path, method: "get") do %>
  <%= select_tag :category, options_for_select(Post.categories), include_blank:true %>
  <%= submit_tag "検索" %>
  <% end %>
    <% @posts.each do |post| %>
  <div class="post">
    <div class="blockarea">

  <%= attachment_image_tag post, :post_image, :fill, 250, 250, format: 'jpeg' %>

  <div class="caparea1">
    <h3><%= post.post_name %></h3>
    <h3><%= post.stylist.stylist_name %></h3>
    <p><%= link_to "SEE MORE", post_path(post.id) %></p>

  </div>
     </div>
   </div>
<% end %>






</div>




